services:
  invento:
    container_name: invento-backend
    image: invento-backend:latest
    restart: always
    ports:
      - '3000:3000'
    volumes:
      - .:/app
    command: npm run start
    networks:
      - invento-network

networks:
  invento-network:
    driver: bridge
